* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.search-box {
    text-align: center;
    border-bottom: solid black 1.5px;
    padding: 1rem;
}

h1 {
    font-size: 2.5em;
}

label {
    font-size: 1.5em;
}

.game-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

.search-text {
    margin: 1rem auto;
}

.search-text, .search-submit {
    min-width: 20%;
    text-align: center;
}

.results-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 95%;
}

.img-box {
    width: 35%;
    text-align: center;
}

.results-img {
    max-width: 100%;
}

.info-box {
    width: 80%;
    overflow: scroll;
}

.hide-me {
    display: none;
}

@media screen and (min-width: 500px) {



}

@media screen and (min-width: 800px) {

    .img-info-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 2em;
        width: 95%;
    }

    .img-box {
        width: 30%;
    }

    .info-box {
        width: 60%;
        height: 550px;
    }

}