* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.897);
}

.search-box {
    text-align: center;
    border-bottom: double rgb(255, 0, 0) 7px;
    padding: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.350), rgba(0, 0, 0, 0.350)), 
                url("https://images.alphacoders.com/236/thumb-1920-236891.png");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

h1 {
    font-size: 5em;
    padding: 0;
    margin: 0;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px #f3f3f3;
}

h2 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px #ff0000;
}

h1, h2, label, a {
    font-family: 'IM Fell Double Pica SC', serif;
}

a {
    color: rgb(216, 10, 10);
    text-shadow: .5px .5px white;
}

a:hover, a:focus {
    color: white;
}

label {
    font-size: 1.5em;
    background-color: black;
    border: double white 5px;
}

.game-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

.search-text {
    margin: 1rem auto;
    border: double black 5px;
}

.search-text, .search-submit {
    min-width: 20%;
    text-align: center;
}

.search-submit {
    border: double white 5px;
    background-color: black;
    color: white;
}

.search-submit:hover, .search-submit:focus {
    background-color: red;
}

.results-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 95%;
}

.img-info-box {
    text-align: center;
}

.img-box {
    width: 35%;
    text-align: center;
    margin: 0 auto;
}

.results-img {
    max-width: 100%;
}

.info-box {
    width: 85%;
    overflow: scroll;
    margin: 0 auto;
    padding: .75rem;
    background-color: rgb(100, 97, 97);
    border: double red 3px;
}

.hide-me {
    display: none;
}

@media screen and (min-width: 800px) {

    .img-info-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 2em;
        width: 95%;
    }

    .img-box {
        width: 30%;
    }

    .info-box {
        width: 60%;
        height: 550px;
    }

}